# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys
sys.path.append('../')

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
# Store csv created in part one into a DataFrame
city_df = pd.read_csv("data/city_df.csv")
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,23.00,73,90,7.20,AU,1607822160
1,Faya,18.39,42.45,12.00,87,0,0.18,SA,1607822161
2,Kapaa,22.08,-159.32,28.00,65,20,6.20,US,1607822161
3,Khatanga,71.97,102.50,-26.50,89,100,3.60,RU,1607822161
4,Tarnobrzeg,50.57,21.68,1.67,89,20,2.24,PL,1607822161

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of humidity
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]
figure_layout = {'width': '800px',
                'height': '400px',
                'border':'1px solid black',
                'padding': '1px'}
fig = gmaps.figure(layout = figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))

In [17]:
city_df.head(100)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,23.00,73,90,7.20,AU,1607822160
1,Faya,18.39,42.45,12.00,87,0,0.18,SA,1607822161
2,Kapaa,22.08,-159.32,28.00,65,20,6.20,US,1607822161
3,Khatanga,71.97,102.50,-26.50,89,100,3.60,RU,1607822161
4,Tarnobrzeg,50.57,21.68,1.67,89,20,2.24,PL,1607822161
...,...,...,...,...,...,...,...,...,...
95,Yueyang,29.33,113.09,10.20,68,100,3.63,CN,1607822177
96,Yellowknife,62.46,-114.35,-26.67,75,5,4.60,CA,1607822177
97,Mastung,29.80,66.84,1.53,79,0,0.64,PK,1607822177
98,Avarua,-21.21,-159.78,28.00,74,19,2.60,CK,1607822177
99,Laurel,39.10,-76.85,14.00,81,1,2.10,US,1607821931

In [18]:
perfect_city = city_df.loc[(city_df['Cloudiness']==0)&(city_df['Wind Speed']<=10) & (city_df['Max Temp'] >= 70) & (city_df['Max Temp'] <= 80)].dropna()

perfect_city.head()

Empty DataFrame
Columns: [City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure